{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
            <div class="row">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-body b">
                            <div style="text-align: center;"> 
                                <img id="imagePreview" src="{{ app.request.basepath }}/img/{{ user.picture }}" alt="Image ronde" style="width: 75px;margin-top: 2%;border-radius: 97px;">
                            </div>
                            <h6 class="res-d" style="text-align: center;font-size: 17px;padding: 3%;">Mon palier</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}