{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Paiement</strong><br>
            {% for message in app.flashes('refresh') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% for messages in app.flashes('return') %}
            <div class="alert alert-success">{{ messages }}</div>
        {% endfor %}
        <div class="row">
        <div class="col-md-auto">
            <img id="imagePreview" src="/assets/img/stripe.png" alt="Image ronde" style="width: 55px;margin-top: 2%;border-radius: 97px;">
        </div>
        <div class="col-md-auto" style="margin-top: auto;margin-bottom: auto;">
            <h4 style="margin: auto;font-size: 20px;font-weight: 700;">Configuration d'un compte de paiement</h4>
        </div>
        </div>
        </div>
    </main>
{% endblock %}