{% extends 'base1.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Problèmes</strong>
                        </div>
                    </div><br>
                    <div class="row">
                    {% if problemes|length > 0 %}
                    {% for probleme in problemes %}
                       <div class="col-md-6">
                            <a>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title log">{{ probleme.logement.nom }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            {% if probleme.statut == "0" %}
                                                <div class="col-md-2 alert alert-warning nonRe" role="alert">
                                                    <i class="bi bi-exclamation-triangle"></i>  Non résolu
                                                </div>
                                            {% elseif probleme.statut == "1" %}
                                                <div class="col-md-2 alert alert-warning resolu" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgba(111, 114, 121, 1);"></i>  Résolu
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-12">
                                            <h4 class="card-title log">{{ probleme.titre }}</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 class="res-d">{{ probleme.description }}</h6>
                                        </div>
                                        <div class="col-md-12">
                                            {% if probleme.statut == "0" %}
                                                <div class="col-md-4">
                                                    <a href="{{ path("app_probleme_modifier_statut",{'id':probleme.id})}}" type="button" class="btn btn-secondary renv" style="margin-bottom:1%;">C'est réglé</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img style="width:114px;" src="/assets/img/probleme.png"><br>
                            <h5 style="font-weight: bold;">Aucun problème signalé</h5><br>
                            <h6 class="res-d">Vos logements sont en parfait état !</h6><br>
                        </div>
                {% endif %}
                </div>
        </div>
    </main>

{% endblock %}