{% extends 'base1.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block body %}
 <main class="main-container">
  
        <div class="container" style="width:95%;background-color:white;margin:auto;border-radius: 4px;margin-top: 2%;height: auto;">
    <h5>Nouveau logement</h5>
 <form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="logement[nom]" placeholder="Donnez un nom au logement" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surface">Surface</label>
                <input type="text" class="form-control" id="surface" name="logement[surface]" placeholder="Surface en mètres carrés" required>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" id="adress" class="form-control" id="adresse" name="logement[adresse]" placeholder="Adresse" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="completAdresse">Complément d'adresse</label>
                <input type="text" class="form-control" id="completAdresse" name="logement[completAdresse]" placeholder="Appartement, étage, etc.">
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nbrChambre">Nombre de Chambres</label>
                <input type="number" class="form-control" id="nbrChambre" name="logement[nbrChambre]" placeholder="Nombre de chambres" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nbrBain">Nombre de Salles de Bain</label>
                <input type="number" class="form-control" id="nbrBain" name="logement[nbrBain]" placeholder="Nombre de salles de bain" required>
            </div>
        </div>
    </div><br>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="logement[description]" placeholder="Décrivez le logement, ses atouts, etc."></textarea>
    </div><br>

    <div class="form-group col align-self-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_row(form._token) }}
</form><br>

</div>
    </main>
{% endblock %}
