{# templates/subscription/subscription_needed.html.twig #}
{% extends 'base1.html.twig' %}

{% block title %}Abonnement Nécessaire{% endblock %}

{% block body %}
    <style>
        .pricing-table {
            margin: 50px auto;
        }
        .pricing-card {
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .pricing-card .card-header {
            background-color: #f8f9fa;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .pricing-card .card-body {
            padding: 1.5rem;
        }
        .pricing-card .plan-price {
            font-size: 1.25rem;
            font-weight: bold;
            color: #FF385C !important;
            margin-bottom: 15px;
        }
        .pricing-card .plan-action {
            margin: 20px 0;
        }
    </style>
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        <div class="pricing-table">
            <div class="row">
                <div class="col-md-6" style="margin: auto;">
                    <div class="card pricing-card">
                        <div class="card-header text-center">
                           3+ LOGEMENTS
                        </div>
                        <div class="card-body text-center">
                            <div class="plan-price">11,97€ / mois</div>
                            <ul class="list-unstyled">
                                <li>&#x2714; Le plus grand réseau d'agents d'entretien de locations saisonnières</li>
                                <li>&#x2714; Synchronisation avec vos calendriers de réservations pour une planification automatique</li>
                                <li>&#x2714; Un Service Client à votre écoute 24h/24</li>
                                <li>&#x2714; Gestion des stocks et notifications de maintenance</li>
                                <li>&#x2714; Rapports et chat intégré</li>
                            </ul>
                             <a href="https://buy.stripe.com/cNi3cvdrP3dO427bCvcZa06"
   class="btn btn-success plan-action">
   Passer à Clinup +
</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </main>
    <script src="https://js.stripe.com/v3/"></script>


{% endblock %}
