{% extends 'base1.html.twig' %}
{% block title %}New Logement{% endblock %}
{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;background-color:white;margin:auto;border-radius: 4px;margin-top: 2%;height: auto;">
            <h5>Ajouter une réservation</h5><br>
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nom">Quel jour vous convient le mieux ?</label>
                            <input type="date" class="form-control" id="nom" name="reservation[date]" placeholder="Donnez une date" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="surface">Quelle heure vous convient le mieux ?</label>
                            <input type="time" class="form-control" id="surface" name="reservation[heure]" placeholder="Donnez une heure" required>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="text">De combien d'heures de ménage avez-vous besoin ?</label>
                                <select class="form-control" id="adresse" name="reservation[nbrHeure]" required>
                                    <option value="">Sélectionnez</option>
                                    <option value="1h30">1h30</option>
                                    <option value="1h30">1h30</option>
                                    <option value="2h">2h30</option>
                                    <option value="2h30">2h30</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completAdresse">Pour quel logement ?</label>
                                {{ form_widget(form.logement) }}
                            </div>
                        </div>
                </div><br>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="completAdresse">Description</label>
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                </div><br>
                <div class="form-group col align-self-center">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_row(form._token) }}
            </form><br>
        </div>
    </main>
{% endblock %}
