{# templates/email/account_deactivated.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compte désactivé</title>
</head>
<body>
    <p>Bonjour {{ prestataire.firstname }},</p>

    <p>Nous vous informons que votre compte a été désactivé suite à plusieurs recommandations négatives.</p>

    <p>Si vous avez des questions ou souhaitez discuter de cette décision, veuillez contacter notre support.</p>

    <p>Cordialement,</p>
    <p>L'équipe ClinUp</p>
</body>
</html>
