<html>
    <head>
       <title>Annulation de Réservation</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Annulation de Votre Réservation</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bonjour {{ user.firstname }},</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous regrettons de vous informer que votre réservation sur ClinUp a été annulée par le prestataire.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous comprenons que cela peut être une situation frustrante. Nous vous invitons à consulter notre plateforme pour trouver un autre prestataire qualifié qui pourra répondre à vos besoins.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Si vous avez besoin d'aide pour trouver un nouveau prestataire ou pour toute autre question, notre équipe est à votre disposition.</p>
    
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous nous excusons pour tout désagrément causé et nous vous remercions de votre compréhension.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Cordialement,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
