<html>
    <head>
       <title>Réservation Annulée</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Notification d'Annulation de Réservation</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bonjour {{ user.firstname }},</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous vous informons que la réservation à laquelle vous étiez assigné(e) sur ClinUp a été annulée par l'hôte.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous comprenons que les annulations peuvent être décevantes, mais des opportunités similaires peuvent se présenter prochainement. Nous vous encourageons à rester actif(ve) sur la plateforme pour découvrir de nouvelles demandes.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Si vous avez des questions ou besoin d'assistance, n'hésitez pas à nous contacter.</p>
    
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Merci pour votre compréhension et votre flexibilité.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Cordialement,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
