<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidature Confirmée</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #3d4465;
            background-color: #ffffff;
        }
        .container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
        h1, p, a {
            text-align: left;
        }
        a {
            background-color: rgb(255, 56, 92);
            border: none;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1, p, a {
                font-size: 14px;
            }
            a {
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Félicitations, Votre Candidature a été Confirmée !</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Nous sommes heureux de vous annoncer que votre candidature pour une réservation sur ClinUp a été confirmée par l'hôte.</p>
    <p>Vous pouvez consulter les détails de la réservation et préparer vos services en cliquant sur le lien ci-dessous :</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center">
                    <a href="https://clinup.fr" target="_blank">Voir les Détails de la Réservation</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Nous vous souhaitons une excellente expérience de travail avec ClinUp et restons à votre disposition pour toute assistance.</p>
    <p>Cordialement,</p>
    <div style="display: flex; align-items: center;">
        <p>L'équipe de </p>
        <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
</div>
</body>
</html>
