<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Réservation par le Prestataire</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #3d4465;
            background-color: #ffffff;
        }
        .container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
        h1, p, a {
            text-align: left;
        }
        a {
            background-color: rgb(255, 56, 92);
            border: none;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1, p, a {
                font-size: 14px;
            }
            a {
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Confirmation de Votre Réservation</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Nous avons le plaisir de vous informer que votre prestataire a confirmé la réservation sur ClinUp.</p>
    <p>Vous pouvez consulter les détails de la réservation et préparer toute nécessité avant la date prévue en cliquant sur le lien ci-dessous :</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center">
                    <a href="https://clinup.fr" target="_blank">Voir le Profil du Prestataire</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Nous vous encourageons à examiner sa candidature et à répondre rapidement pour finaliser votre réservation.</p>
    <p>Si vous avez des questions ou besoin d'assistance, notre équipe est à votre disposition.</p>
    <p>Cordialement,</p>
    <div style="display: flex; align-items: center;">
        <p>L'équipe de </p>
        <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
</div>
</body>
</html>
