<html>
    <head>
       <title>Bienvenue sur ClinUp</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Bonjour {{ user.firstname }},</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bienvenue sur ClinUp ! Nous sommes heureux de vous accueillir dans notre communauté.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Vous pouvez dès maintenant commencer à chercher des prestataires pour vos réservations.</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
            <td align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td align="center" style="border-radius:3px">
                            <a style="background-color: rgb(255, 56, 92);
                                border: none;
                                color: white;
                                padding: 15px 32px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;" href="" target="_blank">
                                Trouver un prestataire
                            </a>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
    </table>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Découvrez des prestataires près de chez vous et réservez en toute simplicité et sécurité grâce à ClinUp.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Si vous avez des questions ou si vous avez besoin d'assistance, n'hésitez pas à contacter notre équipe de support.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bien à vous,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
