<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Réservation Disponible</title>
    <style>
        body {
            font-family: Arial, sans-serif; /* Assure une police lisible */
            margin: 0;
            padding: 0;
            color: #3d4465;
            background-color: #ffffff;
        }
        .container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
        h1, p, a {
            text-align: left;
        }
        a {
            background-color: rgb(255, 56, 92);
            border: none;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 3px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1, p, a {
                font-size: 14px;
            }
            a {
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Nouvelle Opportunité de Réservation</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Nous avons le plaisir de vous informer qu'une nouvelle réservation correspondant à vos disponibilités et à votre région est maintenant disponible sur ClinUp.</p>
    <p>Pour voir les détails de cette réservation et pour confirmer votre disponibilité, veuillez cliquer sur le lien ci-dessous :</p>
    <a href="https://clinup.fr" target="_blank">Voir les Détails de la Réservation</a>
    <p>Nous vous encourageons à répondre rapidement pour maximiser vos opportunités sur notre plateforme.</p>
    <p>Cordialement,</p>
    <div style="display: flex; align-items: center;">
        <p>L'équipe de </p>
        <h2 style="color: rgb(255, 56, 92); margin-left: 5px;">ClinUp</h2>
    </div>
</div>
</body>
</html>
