<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intérêt de Prestataire pour Votre Réservation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #3d4465;
            background-color: #ffffff;
        }
        .container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
        h1, p, a {
            text-align: left;
        }
        a {
            background-color: rgb(255, 56, 92);
            border: none;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 3px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1, p, a {
                font-size: 14px;
            }
            a {
                padding: 10px 20px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Nouvelle Candidature pour Votre Réservation</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Nous sommes ravis de vous informer qu'un prestataire a manifesté son intérêt pour votre demande de réservation sur ClinUp.</p>
    <p>Pour consulter le profil du prestataire et éventuellement confirmer sa candidature, veuillez cliquer sur le lien ci-dessous :</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center">
                    <a href="https://clinup.fr" target="_blank">Voir le Profil du Prestataire</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Nous vous encourageons à examiner sa candidature et à répondre rapidement pour finaliser votre réservation.</p>
    <p>Si vous avez des questions ou besoin d'assistance, notre équipe est à votre disposition.</p>
    <p>Cordialement,</p>
    <div style="display: flex; align-items: center;">
        <p>L'équipe de </p>
        <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
</div>
</body>
</html>
