<html>
    <head>
       <title>Prestation Validée et Paiement en Cours</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Confirmation de Votre Prestation</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bonjour {{ user.firstname }},</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous sommes ravis de vous informer que votre prestation a été validée avec succès par le hôte.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Le paiement pour cette prestation a été initié et devrait être crédité sur votre compte dans les prochains jours.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous tenons à vous remercier pour votre engagement et la qualité de votre travail. Votre professionnalisme est grandement apprécié par nos clients et par nous-mêmes.</p>
    
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous espérons continuer à travailler avec vous sur de futures prestations.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Cordialement,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
