<html>
    <head>
       <title>Prestation Validée et Paiement en Cours</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Validation de Votre Profil</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bonjour {{ user.firstname }},</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous sommes ravis de vous informer que votre profil a été validé après vérification par l'équipe ClinUp.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Vous commencerez dès maintenant à recevoir des offres de prestation.</p>

    <p style="font-size: 16px; text-align: left; color: #3d4465;">Nous tenons à vous remercier pour votre engagement et la qualité de votre travail.</p>
    
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Si vous avez des questions ou si vous avez besoin d'assistance, n'hésitez pas à contacter notre équipe de support.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Cordialement,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
